body {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: black;
}

a:hover {
  color: green;
}

hr {
  border-color: #4cbf4b;
}

.container {
  font-family: "JetBrains Mono", sans-serif;
  color: black;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-bottom: 10px;
}

.image {
  border-radius: 10px;
}

.projectLarge {
  height: 100%;
}

.nodec {
  text-decoration: none;
  color: white;
}

.forestpic {
  border-radius: 20px;
  width: 100%;
  height: 325px;
}

.linkNav > a {
  color: green;
}

.icon {
  width: 50px;
  display: inline;
  background-color: #202b38;
}

.project {
  height: 92%;
  border-radius: 10px;
  padding: 9px;
  background-color: #fbdd11;
  border: 5px solid #4cbf4b;
}

.project > a:link {
  text-decoration: none;
  color: black;
}

.project > a:visited {
  text-decoration: none;
  color: black;
}

.project > h5 > a:link {
  color: black;
}

.project > h5 > a:visited {
  color: black;
}

.img1 {
  width: 38rem;
}

.img2 {
  width: 30rem;
}

.logo {
  text-align: center;
}


@media (min-width: 576px) {
  .container {
    width: 100%;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a:visited {
  color: green;
}

.project > h5 > a:visited {
  color: black;
}

.text {
  display: inline-block;
  line-height: 1.6;
}

p > img {
  width: 25px;
  display: inline-block;
}

.mobileFooter {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .mobileFooter {
    display: block;
  }

  .img1 {
    width: 100%;
  }
  
  .img2 {
    width: 90%;
  }

  .desktopFooter {
    display: none;
  }
}

.logo1 {
  width: 35rem;
}

.logo2 {
  width: 20rem;
}

.nav > a {
  text-decoration: none;
}
