<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/PerryPal21/perry.css@master/perry.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Banano Forest: FAQ</title>
  </head>

  <body>
    <div id="particles-js"></div>
    <div class="container">
      
      <script>
        particlesJS("particles-js", {
          particles: {
            number: { value: 40, density: { enable: true, value_area: 800 } },
            color: { value: "#ffffff" },
            shape: {
              type: "circle",
              stroke: { width: 0, color: "#000000" },
              polygon: { nb_sides: 5 },
              image: { src: "img/github.svg", width: 100, height: 100 },
            },
            opacity: {
              value: 2,
              random: false,
              anim: { enable: false, speed: 1, opacity_min: 0.1, sync: false },
            },
            size: {
              value: 3,
              random: true,
              anim: { enable: false, speed: 40, size_min: 0.1, sync: false },
            },
            line_linked: {
              enable: true,
              distance: 150,
              color: "#ffffff",
              opacity: 0.4,
              width: 1,
            },
            move: {
              enable: true,
              speed: 6,
              direction: "none",
              random: false,
              straight: false,
              out_mode: "out",
              bounce: false,
              attract: { enable: false, rotateX: 600, rotateY: 1200 },
            },
          },
          interactivity: {
            detect_on: "window",
            events: {
              onhover: { enable: true, mode: "grab" },
              onclick: { enable: false, mode: "push" },
              resize: true,
            },
            modes: {
              grab: { distance: 200, line_linked: { opacity: 1 } },
              bubble: {
                distance: 400,
                size: 40,
                duration: 2,
                opacity: 8,
                speed: 3,
              },
              repulse: { distance: 200, duration: 0.4 },
              push: { particles_nb: 4 },
              remove: { particles_nb: 2 },
            },
          },
          retina_detect: true,
        });
      </script>
      <style>
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        a {
          color: black;
        }

        a:hover {
          color: green;
        }

        hr {
          border-color: #4cbf4b;
        }

        .container {
          position: absolute;
          margin: auto;
          color: black;
          max-width: 300rem;
          background-color: white;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
        }

        .center {
          text-align: center;
        }

        .nodec {
          text-decoration: none;
          color: white;
        }

        .forestpic {
          width: 100%;
          border-radius: 20px;
        }

        canvas {
          display: block;
          vertical-align: bottom;
        } /* ---- particles.js container ---- */
        #particles-js {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #4cbe4b;
          background-image: url("");
          background-repeat: no-repeat;
          background-size: 20%;
          background-position: 50% 50%;
        }

        #particles-js canvas {
          display: block;
          vertical-align: bottom;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          opacity: 1;
          -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
          transition: opacity 0.8s ease, transform 1.4s ease;
        }

        #particles-js {
          width: 100%;
          height: 100%;
          position: fixed;
          z-index: -10;
          top: 0;
          left: 0;
        }

        .icon {
          width: 50px;
          display: inline;
          background-color: #202b38;
        }

        
          a:visited {
  color: green;
  }
        
          .logo1 {
    width: 35rem;
  }
        
        center > h4 {
          color: green
        }
        
                    a:visited {
  color: black;
  }
  
  center > a {
    text-decoration: none;
  }
        
        .container {
          text-align: center;
        }
        
        .text {
    display: inline-block;
    line-height: 1.6;
  }
  
  p > img {
    width: 25px;
    display: inline-block;
  }
        
          .mobileFooter {
    display: none;
  }
  
          
@media only screen and (max-width: 1000px) {
  
  .mobileFooter {
    display: block;
  }
  
  .desktopFooter {
    display: none;
  }
  
  }
        
        .questions {
          text-align: left;
        }
  
      </style>
        <center><img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/bananoForestLogo.png?v=1646370337752" class = "logo1" alt="logoish"></center>
      <center><h4>FAQ</h4></center>
      <br>
      <p class="nav">
        <center><a href="/">Home</a> | <a href="https://chat.banano.cc">Discord Server</a></center>
      </p>
      <br />
      <div class="questions">
        <ol>
          <li><u>Is this site legitimate?</u></li>
          <p>A <strong>bold</strong> first question, but in a space such as crypto, being skeptical is good. We hope to bring everything 
            we plan to fruition and see no reason to abandon this project (take money and leave), becoming universally hated over what would most likely be a couple hundred dollars.
            More importantly, we want to create an enviroment where donating isn't an awkward yearly tradition triggered by an email and a sense of guilt, but a low cost, 
            low effort, fun way to give a little back each day. </p>
          <br />
          <li><u>Do you guys (The Banano Forest Team) control the wallets which we are donating to?</u></li>
          <p>Yes, since we are at the very beginning of our adventure, we don't know how to collect the funds in a way where we havew very specific control over the wallet, so for the start, we 
            will completely control the donation pool. (We'll have the keys) 
            We will, to earn the trust of you all, post weekly proof of the donations. and provide full transparency of all our actions (and goals)</p>
          <br />
          <li><u>Is this project limited to Rainforest/ Ecological conservation efforts? </u></li>
          <p>No, this is a starting point which we feel complements the theme of our native currency, banano. 
            We hope to learn even more than we could have imagined about charitable causes from the community (all of you)!<br> 
            The Banano Forest is not a literal forest, but an initiative to help grow together for the betterment of all.</p>
      
          <br />
          <li><u>Is there a minimum ban amount to have a raffle ticket?</u></li>
          <p>It may sound odd, but you pick the cost of every raffle ticket. Each donation, represented as a transaction, becomes a ticket. We would only create a minimum if 
            people take advantage to an unfun extent by spamming extremely low amounts (0.001 ban) via a bot or trollish determination to win</p>
          <br />
          
          <li><u>Would you like to join the team?</u></li>
          <p>Paying in ban at about 1/1000 the minium wage, if you'd like to contribute to the project (or join the team) reach out to us on Discord (Usernames at the bottom of the page) </p>
          
          <br />
          <li><u>Doesn't it ruin the point if you have to use a dollars as the donation currency?</u></li>
          <p> The point of this project is to lower the barrier of what a charitable donation is, 
            we hope that by lowering the threshold of the size of a donation as well as the ease of donating and incentivise its frequency, one ends up feeling better about donating 
            as a fun way to buy many raffle tickets (Please be reasonable, 100 is fine, 10,000 is not). We can't convince a charity to accept ban just because we want to donate in ban, 
            however, instead of sulking, we decided to prove that even if the lump payment is in FIAT, that banano is still an incredible and unique payment method for creating financial collaboration.
            
            
            </p>
          
          <li><u>How much are you selling the ban for when you raise the FIAT funds?</u></li>
          <p>We will be selling at a 1.1 times the market price (%10 more expensive) so there is no incentive to buy up all the ban as an individual. Buying this ban
          is an act of charity itself, as you donated %10 of the purchase and provide necessary liquidity for donations.</p>
          
      
          <br />
          <li><u>What do you hope for the future?</u></li>
          <p>We hope to bring every feature that crypto could have to offer and work it to fit a model where everyone is equal no matter how much they donate. We can't wait to share them as they develop!</p>
          
          <li><u>Will there be memes?</u></li>
          <p> Yes</p>
          <div class="image">
        
  <img src="https://res.cloudinary.com/teepublic/image/private/s--lPv8KNJg--/t_Resized%20Artwork/c_fit,g_north_west,h_1054,w_1054/co_ffffff,e_outline:53/co_ffffff,e_outline:inner_fill:53/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_auto,h_630,q_90,w_630/v1602009422/production/designs/14923477_0.jpg" class="banana pepe" alt="forestpic"></img>
</div>

          <br>
          
        </ol>
        <br />
      </div>
      <hr>
      <p class="mobileFooter">
      <img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/banano-icon.png?v=1646162540776" alt="bananoLogo"></img>
    <span class="text">An initiative by</span>
      <img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/banano-icon.png?v=1646162540776" alt="bananoLogo"></img>
  <br>  
  <span class="text">thearistotle and PerryPal</span>
  
</p>

<p class="desktopFooter">
      <img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/banano-icon.png?v=1646162540776" alt="bananoLogo"></img>
    <span class="text">An initiative by thearistotle and PerryPal</span>
      <img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/banano-icon.png?v=1646162540776" alt="bananoLogo"></img>
</p>
    </div>
  </body>
</html>
