<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <title>Banano Forest Initiative</title>
  <link rel="stylesheet" href="index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</head>

<body>
<div id="particles-js"></div>
<div class="container">
<script>
particlesJS("particles-js", {"particles":{"number":{"value":40,"density":{"enable":true,"value_area":800}},"color":{"value":"#ffffff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":2,"random":false,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":40,"size_min":0.1,"sync":false}},"line_linked":{"enable":true,"distance":150,"color":"#ffffff","opacity":0.4,"width":1},"move":{"enable":true,"speed":6,"direction":"none","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"window","events":{"onhover":{"enable":true,"mode":"grab"},"onclick":{"enable":false,"mode":"push"},"resize":true},"modes":{"grab":{"distance":200,"line_linked":{"opacity":1}},"bubble":{"distance":400,"size":40,"duration":2,"opacity":8,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

    var data = google.visualization.arrayToDataTable([
        ['Organization', 'Banano Amount'],
        ['Orangutan Outreach',     {{add1}}],
        ['Wildlife SOS',      {{add2}}],
        ['Fund for Wild Nature',  {{add3}}],
        ['Sloth Conservation Fund', {{add4}}],
    ]);

    var options = {
        title: 'The Donation Pool Division'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
    }
    
    $(window).resize(function(){
drawChart();
});
    
    
</script>
<style>
    canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #4CBE4B; background-image: url(""); background-repeat: no-repeat; background-size: 20%; background-position: 50% 50%; }

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}
</style>

<div class="logo mx-auto">
  <br>
    <img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/bananoForestLogo.png?v=1646370337752" class="mx-auto img1" alt="logoish">
    <br>
    <br>
  <img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/bananoForestLogo2.png?v=1646370753353" class = "mx-auto img2" alt="logoish">  
</div>
<br>
  <br>
<div class="linkNav text-center h5">
    <a href="/" class="mx-3">Mission</a><a href="/faq"class="mx-3">FAQ</a><a href="https://discord.com/invite/tDGwJw3DVg/" class="mx-3">Discord</a>
</div>
<hr>
<br>
<div class="row px-2">
  <div class="col-md-6">
    <div class="image">
      <img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/forest-butterfly.gif?v=1651071944471" class="forestpic" alt="forestpic" >
    </div>
    <div class="spacer"><br></div>
  </div>
  <div class="col-md-6">
    <div class="projectLarge">
      <div class="project">
        <br>
	<br>
	
        <hr>
        <h5><a href="/raffle">🎟️ Enter the Raffle!</a></h5>
        <a href="/raffle"><p>And earn some Banano while saving the forests</p></a>
        <strong><p id="countdown"></p></strong>
        <script>
    // The data/time we want to countdown to
    var countDownDate = new Date("Aug 13, 2022 13:00:00").getTime();

    // Run myfunc every second
    var myfunc = setInterval(function() {

    var now = new Date().getTime();
    var timeleft = countDownDate - now;
        
    // Calculating the days, hours, minutes and seconds left
    var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
    var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
        
    // Result is output to the specific element
    document.getElementById("countdown").innerHTML = "Next Roll - " + days + "d " + hours + "h " + minutes + "m " + seconds + "s "
        
    // Display the message when countdown is over
    if (timeleft < 0) {
        clearInterval(myfunc);
        document.getElementById("countdown").innerHTML = "Stay Tuned"
    }
    }, 1000);
    </script>
      <hr>
      <br>
      <hr>
        <h5><a href="https://faucet.bananoforest.com/">💧 Banano Forest Faucet!</a></h5>
        <a href="https://faucet.bananoforest.com/"><p>Claim a daily Banano prize or choose to donate it back</p></a>
        <hr>
           
        <br>
        <br>
      </div>
      </div>
  </div>
</div>

<br>

  <br>
  <div class="mission px-2" id="mission">
    <h4 class="text-center"><strong>Our Mission</strong></h4><br>
<p>

  <strong><em>Our Mission</em></strong> is simple, create a way to contribute to the Banano ecosystem and contribute to the betterment of the world, however small it may be. 
  
  We hope that by combining raffles (with more games and events to come), a feeless instant well-designed cryptocurrency, a growing and positive community, and charity, that we can help others
  in a way that creates cause awareness through fun incentives rather than a making a single payment and forgetting about it.

 <p>
  This project's goal is to be completely community 
   reliant based on four major components
   </p>
    <div style="text-align: left;">
         <ol>
     <li>Accumulating bans for charity via community participation in weekly raffles</li>
     <li>Community voting (via donations) determines which charity the money goes to</li> 
     <li> The money not donated (~30%) is redistributed back to the community via our faucet and as raffle prizes</li>
    </ol>
      <br>
    </div>

    
    
  
  <hr>
  </div>
  <div class="info" id="stats">
    <h4 class="text-center"><strong>Community Stats</strong></h4>
<div id="piechart" style="width: 100%; height: 400px;"></div>

<br>
  </div>

  <div class="info px-2" id="benefactors">
    <h4><strong>Our Patrons</strong></h4>
<p>
 We would like to have a live feed of donations here (WIP)
  </p>
<br>
  </div>
<hr>
<p class="mobileFooter text-center">
      <img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/banano-icon.png?v=1646162540776" alt="bananoLogo"></img>
    <span class="text">An initiative by</span>
      <img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/banano-icon.png?v=1646162540776" alt="bananoLogo"></img>
  <br>  
  <span class="text">thearistotle and PerryPal</span>
  
</p>

<p class="desktopFooter text-center">
      <img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/banano-icon.png?v=1646162540776" alt="bananoLogo"></img>
    <span class="text">An initiative by thearistotle and PerryPal</span>
      <img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/banano-icon.png?v=1646162540776" alt="bananoLogo"></img>

    </p>
</div>
</body>
</html>
