<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/PerryPal21/perry.css@master/perry.css">
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <link "href"='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <title>Banano Forest Initiative</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
<div id="particles-js"></div>
<div class="container">
<script>
particlesJS("particles-js", {"particles":{"number":{"value":40,"density":{"enable":true,"value_area":800}},"color":{"value":"#ffffff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":2,"random":false,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":40,"size_min":0.1,"sync":false}},"line_linked":{"enable":true,"distance":150,"color":"#ffffff","opacity":0.4,"width":1},"move":{"enable":true,"speed":6,"direction":"none","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"window","events":{"onhover":{"enable":true,"mode":"grab"},"onclick":{"enable":false,"mode":"push"},"resize":true},"modes":{"grab":{"distance":200,"line_linked":{"opacity":1}},"bubble":{"distance":400,"size":40,"duration":2,"opacity":8,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Organization', 'Banano Amount'],
          ['Org1',     {{add1}}],
          ['Org2',      {{add2}}],
          ['Org3',  {{add3}}],
          ['Org4', {{add4}}],
        ]);

        var options = {
          title: 'The Donation Pool Division'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
      
      $(window).resize(function(){
  drawChart();
});
      
      
    </script>

<style>
  
  body {
    width: 100%;
    text-align: center;
  }

h1,h2,h3,h4,h5,h6,a {
  color: black;
}

a:hover {
  color: green;
}

hr {
  border-color: #4CBF4B;
}

.container {
  position: absolute;
  margin: auto;
  color: black;
  max-width: 300rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.image {
  border-radius: 10px;
}

.center {
  text-align: center;
}

.nodec {
  text-decoration: none;
  color: white;
}

.forestpic {
  width: 80%;
  border-radius: 20px;
}

canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #4CBE4B; background-image: url(""); background-repeat: no-repeat; background-size: 20%; background-position: 50% 50%; }

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.icon {
  width: 50px;
  display: inline;
  background-color: #202B38;
}

.project {
  padding: 20px;
  background-color: #FBDD11;
  border-radius: 20px;
  margin-bottom: 15px;
  border: 5px solid #4CBF4B;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
  
  a:visited {
  color: green;
  }
  
  .project > h5 > a:visited {
  color: black;
  }
  
  
.text {
    display: inline-block;
    line-height: 1.6;
  }
  
  p > img {
    width: 25px;
    display: inline-block;
  }
  
  .mobileFooter {
    display: none;
  }
  
          
@media only screen and (max-width: 1000px) {
  
  .mobileFooter {
    display: block;
  }
  
  .desktopFooter {
    display: none;
  }
  
  }
  
  .logo1 {
      width: 35rem;
  }
  
  .logo2 {
    width: 30rem;
  }
  
</style>


  
  <center><img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/bananoForestLogo.png?v=1646370337752" class = "logo1" alt="logoish"></center>
  <br>
  <center><img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/bananoForestLogo2.png?v=1646370753353" class = "logo2" alt="logoish"></center>
  <br>
<p class="nav"><a href="#mission">Mission</a> | <a href="/faq">FAQ</a> | <a href="#stats">Statistics</a> | <a href="#benefactors">Patrons</a> | <a href="https://chat.banano.cc/">Discord Server</a></p>
<br>
<div class="image">
  <center><img src="https://c.tenor.com/Wr_1RfAic5MAAAAC/forest-butterfly.gif" class="forestpic" alt="forestpic" >
</center></div>
<br>
<div class="projectLarge">
  <div class="project">
    <h5><a href="/raffle">Enter the Raffle!</a></h5>
    <p>Enter the Raffle and help donate to save the Amazon Rainforests</p>
  </div>
  <div class="project">
    <h5><a href="https://bananoforest-faucet.glitch.me/">Banano Forest Faucet</a></h5>
    <p>Claim a daily banano prize or choose to donate it to an organization</p>
  </div>
  </div>
  <br>
  <div class="mission" id="mission">
    <h4><strong>Our Mission</strong></h4>
<p>

  <strong><em>Our Mission</em></strong> is simple, creating a way to contribute to the Banano ecosystem and contribute to the betterment of the world, however small it may be. 
  We strive to become the first Banano Nano-Charity. 
  We hope that by combining raffles ( and more to come) with charity that we can make charity an easy and enjoyable experience. <br> Our highest priority is trust, without it this project can't make a lone ban *cowboy noises *. 
   As long as there is any amount of ban (above 1)

 <p>
  This project's goal is to be completely community 
   reliant based on four major components
   </p>
    <div style="text-align: left;">
         <ol>
     <li>Accumulating bans for charity via community participation in weekly raffles</li>
     <li>Community voting (via donations) determines which charity the money goes to</li>
     <li>Sell the accumulated ban back to community to raise the FIAT funds to give to the charity</li>
     <li> The money not donated (~30%) is redistributed back to the community via our faucet and as raffle prizes</li>
    </ol>
    </div>

    
    
  
  <hr>
  </div>
  <div class="info" id="stats">
    <h4><strong>Community Stats</strong></h4>
<div id="piechart" style="width: 100%; height: 400px;"></div>

<br>
  </div>

  <div class="info" id="benefactors">
    <h4><strong>Our Patrons</strong></h4>
<p>
A lot may change as we begin this project, but ideally we would like to have a live feed of donations
  </p>
<br>
  </div>

<hr>
<p class="mobileFooter">
      <img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/banano-icon.png?v=1646162540776" alt="bananoLogo"></img>
    <span class="text">An initiative by</span>
      <img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/banano-icon.png?v=1646162540776" alt="bananoLogo"></img>
  <br>  
  <span class="text">thearistotle and PerryPal</span>
  
</p>

<p class="desktopFooter">
      <img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/banano-icon.png?v=1646162540776" alt="bananoLogo"></img>
    <span class="text">An initiative by thearistotle and PerryPal</span>
      <img src="https://cdn.glitch.global/d79718ab-d262-4738-8bb7-2e6901f4f041/banano-icon.png?v=1646162540776" alt="bananoLogo"></img>
</p>
</div>
</body>
</html>

